<div class="spa-fragment" xmlns:th="http://www.thymeleaf.org">
    <header th:replace="~{fragments/header::header}"></header>
    <div class="spa-content">
        <div class="text-center py-5">
            <h1 class="display-4">Bienvenida a la mueblería My Ikea</h1>
            <p class="lead">Encuentra los mejores muebles para tu hogar al mejor precio.</p>
            <hr class="my-4">
            <p>Explora nuestro catálogo de productos y haz tu pedido hoy mismo.</p>
            <a class="btn btn-primary btn-lg" href="/products" role="button">Ver Catálogo</a>
        </div>
    </div>
</div>
