<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
    <div id="spa-header-target">
        <header th:replace="~{fragments/header::header}"></header>
    </div>

    <main id="main-content" class="container mt-4 mb-6">
        <div id="spa-content-target">
            <div th:if="${view}" th:replace="~{${view} :: .spa-content}"></div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer::footer}"></footer>
    <th:block th:replace="~{fragments/scripts::scripts}"></th:block>

    <script src="/js/spa-router.js"></script>
</body>
</html>