<div class="user-menu">
    <div class="user-info">
        <img src="path/to/avatar.jpg" alt="User Avatar" class="avatar">
        <span class="username">Nombre de Usuario</span>
    </div>
    <div class="menu-options">
        <button class="dropdown-toggle">Opciones</button>
        <div class="dropdown-menu">
            <a href="/profile" class="dropdown-item">Perfil</a>
            <a href="/cart" class="dropdown-item">Carrito</a>
            <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
        </div>
    </div>
</div>